
# Dagster temp folders
tmp*/

# macOS
**/.DS_Store

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# dbt generated
dbt/target/
dbt/logs/

# Local database
data/*.duckdb

# Environment / secrets
.env
.env.*

# Dagster home/storage
dagster_home/
.dagster/
